ssdeep==3.4
sklearn==0.0
python-lzo==1.12
python-tlsh==3.17.0
lief==0.11.4
ubi-reader==0.7.0
py-lz4framed==0.14.0
python-lzo==1.12


# Requirements for string analysis
Morfessor==2.0.6
cchardet==2.1.7
polyglot==16.7.4
pyicu==2.6.0
pycld2==0.41